{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div>
            <h1>BileMo</h1>
            <h3>La plateforme B2B qui vous ressemble.</h3>
            <div>
                <p>Consultez la documentation technique de l'API Bilemo <a href="{{ absolute_url('/docs') }}">ici</a></p>
                <p>Consultez la documentation utilisateur et le glossaire <a href="https://estellemyddleware.github.io/bilemo">ici</a></p>
            </div>
        </div>
        <footer>
            <p>BileMo - &#169; 2022-2023</p>
        </footer>
    </section>
{% endblock %}